.btn:hover{
    box-shadow: 0px 0px 20px 0px rgba(168,168,168,1);
}
.h-light{
    color: white;
}
.h-dark{
    color: #008000;
}
.navbar{
    background-color: white !important;
    box-shadow: 0px 3px 6px 0px rgba(224,224,224,1);
}
.navbar-nav a:hover{
    color: #008000 !important;
    border-bottom:2px solid #008000;
}
.navbar-nav a:active{
    color: #008000 !important;
    border-bottom:3px solid #008000;
}

/* SECTION 1 */
.section-1{
    padding: 12% 0px;
}
.btn-primary{
    background-color: #008000 !important;
}
#section-1-btn-join{
    margin-top: 5%;
    width: 20%;
}

/* SECTION 2 */
.section-2{
    padding: 3% 0px;
    background-image: url('../assets/background-section-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.item-event{
    margin-top: 55px;
}
