html, body{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
}

#Big-head{
	width: 100%;
}

#Ringup-left{
	position: absolute;
	top: 1200px;
}

#Buaya-left{
	position: absolute;
	top: 2890px;
}

#Ringdown-left{
	position: absolute;
	top: 4859px;
}

#Ringup-right{
	position: absolute;
	top: 2200px;	
	right: 0;
}

#Hiu-right{
	position: absolute;
	top: 3500px;	
	right: 0;
}


section{
	padding: 99px 0px;
}

.sec_dalam{
	margin-top: 154px;
}

.H-grey{
	color: #707070;
}

.title-style{
	text-shadow: 2px 5px 2px rgba(34,30,43,0.17);
	color: green;
	font-weight: bold;
}
