/* =================ELEMENT================= */

/* TEXT  */
.h-light{
    color: white;
}
.h-dark{
    color: #008000;
}

/* BUTTON */
.btn-light{
    background-color:white;
    color: #008000;
}
.btn-light:hover{
    color: white;
    background-color: #008000;
    border-color: white;
}
.btn-green{
    background-color: #008000;
    color: white;
}
.btn-green:hover{
    color: white;
}
.btn:hover{
    box-shadow: 0px 0px 20px 0px rgba(168,168,168,1);
}
.navbar{
    background-color: white !important;
    box-shadow: 0px 3px 6px 0px rgba(224,224,224,1);
}
.navbar-nav a:hover{
    color: #008000 !important;
    border-bottom:2px solid #008000;
}
.navbar-nav a:active{
    color: #008000 !important;
    border-bottom:3px solid #008000;
}


/* ======================= */
#section-3{
    background-image: url("../svg/section-3.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top right;
    padding-top: 5%;
    text-align: right;
    color: white;
}
#nav-list {
    overflow: hidden;
    color: white;
    display: flex;
}
#nav-list a {
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
  
#nav-list a:hover {
    border-bottom: 3px solid #B8F8F8;
}
  
#nav-list a.active {
    border-bottom: 3px solid #B8F8F8;
}
#section-3-galeri{
    position: relative;
    margin-top: 5%;
    padding: 3%;
    width: 50%;
    margin-left: 8%;
}
#galeri-overview{
    width: auto;
}
.gallery-thumbnail img{
    width: 100%;
}
#galeri-overview .col-sm-4{
    padding: 0.5% !important;
}
#galeri-btn-prev{
    position: absolute;
    left: -3%;
    top: 50%;
    transform: translateY(-50%);
}
#galeri-btn-next{
    position: absolute;
    right: -3%;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 1024px){
    #section-3{
        text-align: left;
        padding-top: 20%;
        color: #008000 !important;
    }
    #section-3-nav{
        justify-content: flex-start !important;
    }
    #nav-list a{
        color: #008000;
    }
    #section-3-galeri{
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px){
    #section-3-nav{
        justify-content: flex-start !important;
    }
    #nav-list a{
        display: inline;
    }
    #section-3-galeri{
        display: table;
        margin: 0 auto;
    }
    #galeri-btn-prev{
        bottom: 0;
        transform: translateY(100%);
    }
    #galeri-btn-next{
        bottom: 0;
        transform: translateY(100%);
    }
}