/* TEXT  */
.h-light{
    color: white;
}
.h-dark{
    color: #008000;
}
#section-5{
    background-image: url('../svg/section-5.svg'), url('../svg/section-5-2.svg');
    background-repeat: no-repeat;
    background-size: auto 50%, auto 60%;
    background-position: left top, right bottom; 
}
.section-5-1-heading{
    text-align: right;
}
#section-5-1-testimoni{
    margin-left: 10%;
    position: relative;
}
#testimoni-box{
    position: relative;
}
#testimoni-box{
    position: relative;
    border: 2px solid #008000;
    border-radius: 10px;
    display: table;
    margin: 3% auto 10% auto;
    padding: 5% 20% 5% 5%;
    width: 80%;
}
#testimoni-box-foto{
    position: absolute;
    top: 10%;
    right: -10%;   
}
#testimoni-btn-prev{
    position: absolute;
    bottom: 0;
    left: 0;
}
#testimoni-btn-next{
    position: absolute;
    bottom: 0;
    right: 0;
}

#section-5-2-dukungan{
    text-align: center;
    margin: 8% auto;
    padding-bottom: 10%;
}
#dukungan-logo{
    margin-top: 10%;
}
#dukungan-logo img{
    width: 90%;
}
#section-5-footer{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

@media only screen and (max-width: 768px){
    #section-5{
        background-size: auto 30%, auto 60%;
    }
}
@media only screen and (max-width: 500px){
    #section-5{
        background-image: url('../svg/section-5-2.svg');
        background-size: auto 60%;
        background-position: right bottom; 
    }
    #section-5-1-testimoni{
        margin: auto;
    }
    .section-5-1-heading{
        text-align: center;
    }
    #testimoni-box-foto{
        position: static;
        margin-bottom: 3px;
    }
    #testimoni-box{
        padding: 5%;
        width: 100%;
        text-align: center;
    }
}


/* FOOTER */
footer{
    margin-top: -1px;
    background-color: #075F07;
    padding: 3%;
}
#footer{
    position: relative;
    color: white;
    text-align: center;
}
#sosmed{
    display: inline;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
@media only screen and (max-width: 768px){
    #footer{
        position: static;
    }
    #sosmed{
        position: static;
    }
}